# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
  {
    'label': 'Arduino'
    'submenu': [
        {'label':'New Project', 'command':'mcduino:ino-new-project'}
        {'label':'Reload IDE', 'command':'window:reload'}
        {
          'label': 'View'
          'submenu': [
                {'label':'Toggle Console', 'command':'mcduino:toggle-panel'}
                {'label':'Toggle Toolbar', 'command':'tool-bar:toggle'}
          ]
        }
        {'label':'List Board Models','command': 'mcduino:ino-list-models'}
        {'type': 'separator'}
        {'label':'Convert to INO', 'command':'mcduino:ino-convert'}
        {'type': 'separator'}
        {'label':'Clean','command': 'mcduino:ino-clean'}
        {'label':'Build','command': 'mcduino:ino-build'}
        {'label':'Upload','command': 'mcduino:ino-upload'}
        {'type': 'separator'}
        {'label':'INO Help','command': 'mcduino:ino-check'}
        # {'label':'Dev Test','command': 'mcduino:dev-test'}

    ]
  }
]
