# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
  {
    'label': 'Arduino'
    'submenu': [

        {'label':'New Project', 'command':'run-command:inoInit'}
        {'type': 'separator'}
        {'label':'Serial','command': 'run-command:inoSerial'}
        {'type': 'separator'}
        {'label':'Clean','command': 'run-command:inoClean'}
        {'label':'Build','command': 'run-command:inoBuild'}
        {'label':'Upload','command': 'run-command:inoUpload'}
        {'label':'Convert to C++','command': 'run-command:inoPreproc'}
        {'type': 'separator'}
        {'label':'List Board Models','command': 'run-command:inoListModels'}
        {'label':'Help','command': 'run-command:inoCheck'}
    ]
  }
]
