# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
  {
    'label': 'Arduino'
    'submenu': [
      'label': 'MCduino'
      'submenu': [
        {'label':'New Sketch', 'command':'run-command:run'}
        {'label':'Examples','command': 'run-command:re-run-last-command'}
      ]
    ]
  }
]
