# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# For more detailed documentation see
# https://atom.io/docs/latest/advanced/keymaps
'atom-workspace':
  'ctrl-r':         'mcduino:run'
  'cmd-ctrl-x':     'mcduino:toggle-panel'
  'cmd-ctrl-alt-x': 'mcduino:kill-last-command'
  'cmd-ctrl-r':     'mcduino:re-run-last-command'
  'cmd-ctrl-alt-k': 'mcduino:ino-check'
  'cmd-ctrl-alt-c': 'mcduino:ino-clean'
  'cmd-ctrl-alt-b': 'mcduino:ino-build'
  'cmd-ctrl-alt-u': 'mcduino:ino-upload'
  'cmd-alt-l':      'mcduino:ino-list-models'
  'cmd-ctrl-alt-t': 'tool-bar:toogle'
  'cmd-ctrl-alt-g': 'mcduino:ino-preproc'
  'cmd-ctrl-alt-n': 'mcduino:ino-new-project'
  'cmd-ctrl-alt-v': 'mcduino:ino-convert'
  'cmd-ctrl-y':     'mcduino:check-requirements'




        
