# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# For more detailed documentation see
# https://atom.io/docs/latest/advanced/keymaps
'atom-workspace':
  'ctrl-r':         'run-command:run'
  'cmd-ctrl-x':     'run-command:toggle-panel'
  'cmd-ctrl-alt-x': 'run-command:kill-last-command'
  'cmd-ctrl-r':     'run-command:re-run-last-command'
  'cmd-ctrl-alt-k': 'run-command:inoCheck'
  'cmd-ctrl-alt-c': 'run-command:inoClean'
  'cmd-ctrl-alt-b': 'run-command:inoBuild'
  'cmd-ctrl-alt-u': 'run-command:inoUpload'
  'cmd-ctrl-alt-s': 'run-command:inoSerial'
  'cmd-alt-l': 'run-command:inoListModels'
  'cmd-ctrl-alt-p': 'run-command:inoPreproc'
  'cmd-ctrl-alt-n': 'run-command:inoinit'
